* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 420px;
    padding: 0 30px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 688px;
    padding: 0 40px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1170px;
    padding: 0 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trans {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 55px;
  padding-right: 90px;
}

@media screen and (max-width: 767px) {
  .about-us-list .img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .about-us-list .img {
    margin-bottom: 30px;
    max-width: 330px;
  }
}

@media screen and (min-width: 1280px) {
  .about-us-list .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    max-width: 270px;
  }
}

.about-us-block {
  margin-left: 64px;
}

.about-us-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .about-us-line {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about-us-label {
  margin-left: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}

.about-us-name {
  margin-bottom: 20px;
  width: 500px;
  height: 98px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: #303030;
}

.about-us-mission {
  margin-bottom: 20px;
  width: 500px;
  height: 60px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #555555;
}

.about-us-description {
  margin-bottom: 40px;
  width: 500px;
  height: 128px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #555555;
}

.price-section {
  padding-top: 84px;
  padding-bottom: 84px;
  background-image: #111319, url(./../images/price.jpg);
}

.price-line {
  width: 1px;
  height: 60px;
  background: rgba(157, 164, 189, 0.6);
  margin-right: 20px;
}

.price-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.price-title {
  margin: 0;
  margin-bottom: 44px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  color: #ffffff;
}

.price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  margin-top: -10px;
  margin-bottom: -10px;
}

.price-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.price-button {
  display: inline-block;
  margin-top: 50px;
  text-align: center;
}

.section-team {
  background-color: #f7f7f7;
  padding-top: 84px;
  padding-bottom: 84px;
}

.team-text {
  position: relative;
  color: #303030;
  width: 277px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-left: 80px;
  margin-bottom: 20px;
  padding: 0;
}

.team-text::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -80px;
  height: 1px;
  width: 60px;
  background-color: #303030;
}

.section-title {
  color: #303030;
  width: 418px;
  text-align: start;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  margin-top: 0;
  margin-bottom: 44px;
  margin-left: 0px;
  margin-right: 0px;
}

@media screen and (min-width: 1280px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
  }
}

.team-item {
  background-color: #f7f7f7;
  margin-bottom: 64px;
}

.team-item:last-child {
  margin-bottom: 0px;
}

@media screen and (min-width: 1280px) {
  .team-item {
    padding-right: 30px;
  }
  .team-item:last-child {
    padding-right: 0px;
  }
}

.team-item .team-photo {
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 480px) {
  .team-item .team-photo {
    width: 418px;
    height: 346px;
  }
}

@media screen and (min-width: 768px) {
  .team-item .team-photo {
    width: 450px;
    height: 346px;
  }
}

@media screen and (min-width: 1280px) {
  .team-item .team-photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    width: 370px;
    height: 502px;
  }
}

.team-item .team-title {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  color: #303030;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  padding-bottom: 8px;
}

.team-item .team-role {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 30px;
  color: #ff6c00;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
}

.team-item .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 82px;
  padding-right: 82px;
}

.team-item .team-links {
  margin-right: 10px;
  background-color: #ffffff;
  color: #303030;
  border-radius: 50%;
}

.team-item .team-links:last-child {
  margin-right: 0px;
}

.team-item .team-links:hover {
  fill: #ff6c00;
}

.team-item .icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: auto;
}

.team-item .icon:hover {
  fill: #ff6c00;
}

.team-item .links {
  text-decoration: none;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item .team-icon {
  width: 20px;
  height: 20px;
  fill: #303030;
}

.team-item .team-icon:hover {
  fill: #ff6c00;
}

.barba {
  padding-top: 85px;
  padding-bottom: 85px;
}

@media screen and (min-width: 768px) {
  .barba {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .barba {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.barba_title {
  position: relative;
  margin-left: 80px;
  margin-bottom: 45px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.91;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}

@media screen and (min-width: 768px) {
  .barba_title {
    line-height: 1.37;
  }
}

.barba_title::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -80px;
  height: 1px;
  width: 60px;
  background-color: #303030;
}

@media screen and (min-width: 768px) {
  .barba_title::before {
    top: 5px;
  }
}

@media screen and (min-width: 768px) {
  .barba_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .barba_list {
    margin: -15px;
  }
}

@media screen and (min-width: 1280px) {
  .barba_list {
    margin: 0;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .barba_item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .barba_item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .barba_item {
    width: 1280px;
    margin: 0;
    margin-right: 30px;
  }
  .barba_item:last-child {
    margin-right: 0;
  }
}

.barba-icon {
  color: currentColor;
}

@media screen and (max-width: 767px) {
  .barba-icon {
    padding-top: 10px;
  }
}

.main-button {
  width: 160px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
}

.main-button:hover, .main-button:focus {
  color: #ffffff;
  background-color: #ff6c00;
}

.main-button--dark {
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */