<header>
  <div class="container">
    <nav class="site-nav">
      <ul class="site-nav__list">
        <li class="site-nav__item">
          <a href="#about-us">О нас</a>
        </li>
        <li class="site-nav__item">
          <a href="#services">Услуги и цены</a>
        </li>
        <li class="site-nav__item">
          <a href="#team">Мастера</a>
        </li>
        <li class="site-nav__item">
          <a href="#contacts">Контакты</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
